/* CSSFILE */
body{
    background-color:blanchedalmond;
}
.p1{
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 75px;
}
.p2{
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 25px;

}
    
